@font-face {
    font-family: text;
    src: url(text.ttf);
}

@font-face {
    font-family: title;
    src: url(title.ttf);
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: text;
}

.top {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.list {
    display: flex;
    gap: 20px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.head img {
    object-fit: cover;
    width: 50vw;
    height: 70vh;
}

.title {
    font-family: title;
    font-size: 5rem;
}